body {
    background-color: beige;
}

h1 {
    margin-bottom: 0px
}

hr
{
    margin-top: 5px;
}
button {
    margin: 1px;
    width: 100px;
    border-radius: 2px;
    background-color: #c1c1a9;
}

.cardsBody {
    width: 98%;
    margin: auto;
}

.leftPanel {
    display: inline-block;
    width: 280px;
    border: 1px solid #b1b184;
    border-radius: 4px;
    text-align: center;
    background-color: #c1c1a9;
    padding: 5px 0px;
}

.rightPanel {
    display: inline-block;
    background-color: #dadac1;
    border-top: 1px solid #adad9c;
    border-left: 1px solid #adad9c;
    border-radius: 20px;
    box-shadow: 5px 7px 5px #656552;
    position: absolute;
    left: 300px;
    width: 70%;
    height: 85%;
    margin: auto;
}

.rightPanel h2, .rightPanel p{
  margin: 20px 30px;
  color: #696950;
}

.card {
    width: 260;
    background-color: #efefe1;
    margin: 3px auto;
    padding: 20px 0px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px #656552;
    border-top: 1px solid #a5a58a;
    border-left: 1px solid #a5a58a;
}

ol {
    list-style-type: none;
    padding: 1px;
}

li {
    display: inline-block;
}
