.App {
  text-align: center;
  background-image: url('./flat-earth-cat.jpg');

}

.cardDiv {
  text-align: center;
  background-image: url('https://static1.squarespace.com/static/59d2bea58a02c78793a95114/t/5ade4f0d575d1fc8b989d31f/1524518670701/Screen+Shot+2018-04-23+at+5.23.41+PM.png?format=2500w');
  

}

.App2 {
  text-align: left;
  background-color: #ffffff;
  padding: 100px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  opacity: 50%;


}



.App-logo2 {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  align-content: center;
  align-items: center;
  padding: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header2 {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/* .Button {
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}